:root {
  --color-white: #FFFFFF;

  --color-primary: #39A278;
  --color-secondary: #A23999;
  --color-tertiary: #3D709A;
  --color-accent: #EE8254;
  --color-light-grey: #e4e4e4;
  --color-dark-grey: #242424;

  --color-red-remove: #FF0000;
  --color-green-add: #00E200;
  --color-blue-edit: #00C5C5;


  /* Compatible, unused colors */
  --color-4: #EEAD54;
  --color-5: #EEC754;
}

@font-face {
  font-family: 'PTSans';
  src: local('PTSans-Regular'), url(./fonts/PTSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'PTSans Bold';
  src: local('PTSans-Bold'), url(./fonts/PTSans-Bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'PTSans Italic';
  src: local('PTSans-Italic'), url(./fonts/PTSans-Italic.ttf) format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'PTSans BoldItalic';
  src: local('PTSans-PTSans-BoldItalic'), url(./fonts/PTSans-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'PTSans';
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  border-radius: 4px;
}

button:focus {
  outline-color: var(--color-accent);
}
button:hover {
  opacity: .9;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}

input:focus {
  outline-color: var(--color-accent);
}
